.layout {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 25%;
}

.avatar{
height: 150px;
width: 50%;
margin: auto;
border-radius: 50%;
background-image: url(../img/avatar.webp);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
.main {
    width: 75%;
}

.hero {
    height: 100vh;
    background-image: url(../img/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero div {
    height: 25%;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}